<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                    <span class="nav-tabs-title">Messenger</span> 
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="card-body table-responsive">
                            <div class="row">
                              <div class="col-md-5 order">
                                  <div class="card">
                                      <div class="card-header card-header-icon card-header-rose">
                                        <div class="card-icon">
                                          <i class="material-icons">account_circle</i>
                                        </div>
                                        <h4 class="card-title"><strong>Order ID #1234</strong> </h4>
                                      </div>
                                      <div class="row">
                                      <div class="  col-md-6 card-body">
                                          <ul>
                                          <li>Ms. Customer name</li>
                                          <li>+91987654321</li>
                                          <li>8:30 PM 12/6/2020</li>
                                      </ul>
                                      </div>
                                      <div class=" col ">
                                          <div class="example-button-row">
                                              <button mat-raised-button class="btn btn-warning  float-right ">Order Details</button>
                                            </div>
                                      </div>
                                  </div>
                                  </div>
                                  <div class="card">
                                      <div class="card-header card-header-icon card-header-warning">
                                        <div class="card-icon">
                                          <i class="material-icons">account_circle</i>
                                        </div>
                                        <h4 class="card-title"><strong>Order ID #1234</strong> </h4>
                                      </div>
                                      <div class="row">
                                      <div class="  col-md-6 card-body">
                                          <ul>
                                          <li>Ms. Customer name</li>
                                          <li>+91987654321</li>
                                          <li>8:30 PM 12/6/2020</li>
                                      </ul>
                                      </div>
                                      <div class=" col ">
                                          <div class="example-button-row">
                                              
                                            <button mat-raised-button class="btn btn-warning  float-right ">Order Details</button>
                                              
                                            </div>
                                      </div>
                                  </div>
                                  </div>
                                 
                               
                                  
                              </div>
                             
                            <div class="col-lg-7 col-md-7">
                                <div class="card">
                                    <div class="card-header">Chat</div>
                                    <div class="card-body">
                                        <div class="content">
                                                    <div class="card">
                                                        <div class="card-header">Customer Id #1234</div>
                                                        <div class="card-body height3">
                                                            <ul class="chat-list">
                                                                <li class="in">
                                                                    <div class="chat-img">
                                                                        <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                                                    </div>
                                                                    <div class="chat-body">
                                                                        <div class="chat-message">
                                                                            <h5>customer</h5>
                                                                            <p>Can u help me</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="out">
                                                                    <div class="chat-img">
                                                                        <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                                                    </div>
                                                                    <div class="chat-body">
                                                                        <div class="chat-message">
                                                                            <h5>rajiv</h5>
                                                                            <p>how may i help u</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="in">
                                                                    <div class="chat-img">
                                                                        <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                                                    </div>
                                                                    <div class="chat-body">
                                                                        <div class="chat-message">
                                                                            <h5 class="name">Customer</h5>
                                                                            <p>I want help with my order</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="out">
                                                                    <div class="chat-img">
                                                                        <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                                                    </div>
                                                                    <div class="chat-body">
                                                                        <div class="chat-message">
                                                                            <h5>rajiv</h5>
                                                                            <p>ok for sure</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <button mat-raised-button class="btn btn-warning btn-sm float-left ">Rating</button>
                                                                <button mat-raised-button class="btn btn-primary btn-sm float-right ">Email Transcript</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                              
                          </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
     
</div>
</div>  



    







