<div class="main-content">
    <div class="container-fluid">
      <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-success">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Tasks:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                    <i class="material-icons">storefront</i> Today deliveries
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                    <i class="material-icons">person</i>Active Subscription
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                    <i class="material-icons">local_shipping</i> Pending Orders
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                              <a mat-button class="nav-link" href="#history" data-toggle="tab">
                                  <i class="material-icons">local_shipping</i> Order history
                                  <div class="ripple-container"></div>
                              </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <div class="card-body table-responsive">
                          <table class="table table-hover">
                             
                                <thead class=" text-primary">
                                  <th>
                                      S.No
                                  </th>
                                 <th>
                                     Order No.
                                 </th>
                                  <th>
                                     Customer Name
                                  </th>
                                  <th>
                                  Price
                                 </th>
                                 <th>
                                 Order Type
                                </th>
                                <th>
                                 Order Date
                                </th>
                                 <th>
                                   Action
                                 </th>
                                  
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                       1234
                                      </td>
                                      <td>
                                       Customer Name
                                     </td>
                                     <td>
                                        450
                                     </td>
                                     <td>
                                      Image
                                   </td>
                                   <td>
                                    10/10/2020
                                 </td>
                                    
  
                                      <td class="text-danger">
                                        <strong> Edit | Delete</strong>
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                       1234
                                      </td>
                                      <td>
                                       Customer Name
                                     </td>
                                     <td>
                                        450
                                     </td>
                                     <td>
                                      Image
                                   </td>
                                   <td>
                                    10/10/2020
                                 </td>
                                    
  
                                      <td class="text-danger">
                                        <strong> Edit | Delete</strong>
                                      </td>
                                      
                                    </tr>
                                        
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                       1234
                                      </td>
                                      <td>
                                       Customer Name
                                     </td>
                                     <td>
                                        450
                                     </td>
                                     <td>
                                      Image
                                   </td>
                                   <td>
                                    10/10/2020
                                 </td>
                                    
  
                                      <td class="text-danger">
                                        <strong> Edit | Delete</strong>
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                       1234
                                      </td>
                                      <td>
                                       Customer Name
                                     </td>
                                     <td>
                                        450
                                     </td>
                                     <td>
                                      Image
                                   </td>
                                   <td>
                                    10/10/2020
                                 </td>
                                    
  
                                      <td class="text-danger">
                                        <strong> Edit | Delete</strong>
                                      </td>
                                      
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                    <div class="tab-pane" id="messages">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Salary</th>
                              <th>Country</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Dakota Rice</td>
                                  <td>$36,738</td>
                                  <td>Niger</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Minerva Hooper</td>
                                  <td>$23,789</td>
                                  <td>Curaçao</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Sage Rodriguez</td>
                                  <td>$56,142</td>
                                  <td>Netherlands</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Philip Chaney</td>
                                  <td>$38,735</td>
                                  <td>Korea, South</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="settings">
                      <table class="table table-hover">
                          <thead class="text-primary">
                              <th>Order ID</th>
                              <th>Customer</th>
                              <th>Address</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Order Type</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>customer A</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-success">Paid</td>
                                  <td>Subscription</td>
                                  
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>customer B</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-danger">Payment failed</td>
                                  <td>Regular order</td>
                                  
                              </tr>
                              <tr>
                                  <td>1</td>
                                  <td>customer A</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-success">Paid</td>
                                  <td>Subscription</td>
                                  
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>customer D</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-warning">Order Cancelled</td>
                                  <td>Regular order</td>
                                  
                              </tr>
                          </tbody>
                      </table>
                    </div>
  
                    <div class="tab-pane" id="history">
                      <table class="table table-hover">
                          <thead class="text-primary">
                              <th>Order ID</th>
                              <th>Customer</th>
                              <th>Address</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Order Type</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>customer A</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-success">Paid</td>
                                  <td>Subscription</td>
                                  
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>customer B</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-danger">Payment failed</td>
                                  <td>Regular order</td>
                                  
                              </tr>
                              <tr>
                                  <td>1</td>
                                  <td>customer A</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-success">Paid</td>
                                  <td>Subscription</td>
                                  
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>customer D</td>
                                  <td>house no12 abc society city hall</td>
                                  <td>10:25-14/10/2020</td>
                                  <td class="text-warning">Order Cancelled</td>
                                  <td>Regular order</td>
                                  
                              </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>