<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Add New Cuisine </h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <form [formGroup]="cuisineForm" > 
                            <div class="row">
                                <div class="col-sm-5 form-group" >
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Cuisine Name</mat-label>
                                        <input matInput  class='outline' formControlName="cuisine_name" placeholder="Cuisine Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-5 form-group" >

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Cuisine Description</mat-label>
                                        <textarea matInput formControlName="cuisine_description"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button class="btn btn-light float-right" type="button" (click)='clearIt()'>Cancel</button>
                            &nbsp; 
                            <button class="btn btn-info float-right" type="submit" *ngIf=!editMode (click)='addIt()'>Add Category</button>
                            <button class="btn btn-info float-right" type="submit" *ngIf=editMode (click)='saveIt()'>Save Category</button>
                                
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  